@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.dark-mode {
    background-color: #1a202c;
    color: #e2e8f0;
}
.dark-mode .bg-white {
    background-color: #2d3748;
    color: #e2e8f0;
}
.dark-mode .bg-gray-100 {
    background-color: #1a202c;
}
.dark-mode .bg-gray-200 {
    background-color: #2d3748;
}
.dark-mode .text-gray-800 {
    color: #e2e8f0;
}
.project-card {
    transition: transform 0.3s ease-in-out;
}
.project-card:hover {
    transform: translateY(-10px);
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }

p, a, span, li {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1em;
}
